{% extends "store/base.html" %}

{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <h2 class="auth-title">Login</h2>

        {% if error %}
            <p class="auth-error">{{ error }}</p>
        {% endif %}

        <a href="/accounts/google/login/" class="google-btn">
    <img src="https://developers.google.com/identity/images/g-logo.png" width="18">
    Continue with Google
</a>


        <div class="auth-divider">
            <span>OR</span>
        </div>

        <!-- 🔐 NORMAL LOGIN -->
        <form method="POST">
            {% csrf_token %}

            <div class="auth-input">
                <label>Email</label>
                <input type="email" name="email" required>
            </div>

            <div class="auth-input">
                <label>Password</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit" class="auth-btn">Login</button>

            <p class="auth-switch">
                Don’t have an account?
                <a href="{% url 'signup' %}">Signup</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}