{% extends "store/base.html" %}
{% block content %}

<div class="container py-5">
  <h2 class="mb-4">Payment</h2>

  <div class="row g-4">

    <!-- LEFT: PAYMENT METHODS -->
    <div class="col-lg-7">
      <!-- <form id="payment-form" method="POST" action="{% url 'place_order' %}"> -->
       <form id="payment-form" method="POST" action="{% url 'place_order' %}">
        {% csrf_token %}

        <div class="payment-methods">

          <!-- COD -->
          <label class="payment-option">
            <input type="radio" name="payment" value="cod" required>
            <span>Cash on Delivery</span>
          </label>

         
          <label class="payment-option">
            <input type="radio" name="payment" value="upi" checked>
            <span>Online</span>
          </label>

         
          

          

        </div>

        <button type="button" id="pay-btn" class="pay-btn mt-4" data-amount="{{ final_amount }}">
          Pay ₹ {{ final_amount }}
        </button>

      </form>

    </div>

    <!-- RIGHT: ORDER SUMMARY -->
    <div class="col-lg-5">
      <div class="order-summary-box">
        <h5 class="mb-3">Order Summary</h5>

        {% for item in items %}
        <div class="summary-row">
          <span>{{ item.product.name }} × {{ item.quantity }}</span>
          <span>₹ {{ item.subtotal }}</span>
        </div>
        {% endfor %}
        <hr>
        {% if coupon_discount > 0 %}
        <div class="d-flex justify-content-between text-success">
          <span>
            Coupon Discount
            {% if coupon_code %}
            ({{ coupon_code }})
            {% endif %}
          </span>
          <span>- ₹ {{ coupon_discount }}</span>
        </div>
        {% endif %}
        <hr>
        <div class="d-flex justify-content-between">
          <span>Delivery Fee</span>
          <span>
            {% if delivery_fee == 0 %}
            <span class="text-success">FREE</span>
            {% else %}
            ₹ {{ delivery_fee }}
            {% endif %}
          </span>
        </div>

        <hr>

        <p class="text-muted">
          You saved ₹ {{ total_savings }}
        </p>
        <hr>
        <div class="summary-row total">
          <span>Total</span>
          <span>₹ {{ final_amount }}</span>
        </div>
      </div>
    </div>

  </div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  const RAZORPAY_KEY = "{{ razorpay_key }}";
  const ORDER_ID = "{{ razorpay_order_id }}";
  const AMOUNT = {{ razorpay_amount }};
</script>
<script>
  const PLACE_ORDER_URL = "{% url 'place_order' %}";
</script>

{% endblock %}