{% extends 'store/base.html' %}
{% block content %}

<h2 class="text-center to fw-bold my-4">My Wishlist ❤️</h2>

{% if wishlist_items %}
<section class="py-3 cats">
    <div class="container wishhist-container">

        <div class="row g-4">

            {% for item in wishlist_items %}
            {% with product=item.product %}
           <div class="col-6 col-sm-6 col-md-4 col-lg-2 wii">

                <div class="card product-card h-100 hh">

                    <!-- Image -->
                    <div class="product-image-wrapper position-relative">

                        <!-- Product image link -->
                        <a href="{% url 'product_detail' product.id %}">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img-top product-image"
                                alt="{{ product.name }}">
                            {% endif %}
                        </a>

                        <!-- Wishlist button (NOT inside <a>) -->
                        <button type="button" class="wishlist-btn wishlist-icon filled"
                            data-product-id="{{ product.id }}" title="Remove from wishlist">
                            ❤️
                        </button>

                    </div>


                    <!-- Body -->
                    <div class="card-body p-2 d-flex flex-column">

                        <h6 class="small fw-semibold text-truncate mb-1">
                            {{ product.name }}
                        </h6>

                        {% if product.display_price %}
                        <p class="small text-muted mb-1">
                            {{ product.display_quantity }}
                        </p>

                        <div class="price-row mb-2">
                            <span class="selling-price">
                                ₹{{ product.display_price }}
                            </span>

                            {% if product.display_mrp and product.display_mrp > product.display_price %}
                            <span class="discount-badge ms-1">
                                {{ product.discount_percent }}% OFF
                            </span>
                            <div class="rating-box">
    <span class="rating-value">
        {{ item.avg_rating|default:0|floatformat:1 }} ★
    </span>

    <span class="review-count">
        {{ item.review_count }} Reviews
    </span>
</div>
                            {% endif %}
                        </div>
                        {% endif %}

                        <!-- {% if product.first_variant %}
                        <button class="btn-add w-100 mt-auto add-to-cart-btn"
                            data-variant-id="{{ product.first_variant.id }}">
                            ADD
                        </button>
                        {% endif %} -->
                        <div class="rec-actions mt-2">
                            <a href="{% url 'product_detail' product.id %}" class="btnn-view">
                                View
                            </a>

                            {% if product.first_variant %}
                            <button class="add-btn btn-add-detail add-to-cart-btn"
                                data-variant-id="{{ product.first_variant.id }}">
                                Add
                            </button>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
            {% endwith %}
            {% endfor %}

        </div>

    </div>
</section>

{% else %}
<p class="text-center fs-5 text-muted mt-5">
    Your wishlist is empty 💔
</p>
{% endif %}

{% endblock %}